training/arredondaPbaixo.py
training/CadSimples.py
training/CadSimples.py
training/Fibonacci.py
training/tlpp/Python/porcentagem.py
.vscode/.advpl/_binary_class.prw
.vscode/.advpl/_binary_functions.prw
.vscode/settings.json
.gitignore
